//</Add fonts>====================================================================
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
//</Add fonts>====================================================================

//</Mixins>====================================================================
@mixin anim($time,$delay){-webkit-transition:all $time ease $delay;-moz-transition:all $time ease $delay;-ms-transition:all $time ease $delay;-o-transition:all $time ease $delay;transition:all $time ease $delay;}
@mixin anim_cubic($time, $delay){-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform:rotate($deg);-ms-transform:rotate($deg);-webkit-transform:rotate($deg);-o-transform:rotate($deg);transform:rotate($deg);}
@mixin scale($num){-moz-transform:scale($num);-ms-transform:scale($num);-webkit-transform:scale($num);-o-transform:scale($num);transform:scale($num);}
@mixin skew($num){-webkit-transform:skewX($num);-moz-transform:skewX($num);-ms-transform:skewX($num);-o-transform:skewX($num);transform:skewX($num);}
@mixin cnt($h){display:flex;flex-direction:column;height:$h;text-align:center;align-items:stretch;justify-content:center;}
@mixin tr($x,$y,$z){transform:translate3d($x,$y,$z);}
@mixin flexbox(){display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:0;}
@mixin flexorder($val){-webkit-box-ordinal-group:$val;-moz-box-ordinal-group:$val;-ms-flex-order:$val;-webkit-order:$val;order:$val;}
@mixin bs($width, $color){border: $width+px solid $color;}
//</Mixins>====================================================================

//</Variables>====================================================================
$minwidth: 320px;
$mw:1170;
$md1:$mw+20;
$md2:992.98;
$md3:767.98;
$md4:479.98;
//</Variables>====================================================================

//</Fonts>========================================================================
$fontfamily: "Montserrat";
//</Fonts>========================================================================

//</Classes>========================================================================
.pts{
	font-family: "";
}
.btn {
	position: relative;
	overflow: hidden;
	span{
			position: relative;
			z-index: 2;
		}
		&:after{
			content: '';
			background-color: #B0742D;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 50%;
			width: 0;
			height: 100%;
			@include anim(0.3s,0s);
		}
		&:hover{
			&:after{
				width: 100%;
				left: 0;
			}
		}
}
//</Classes>========================================================================
.loading-overlay {
	@include flexbox();
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	span{
		font-size: 15px;
		margin-top: 15px;
	}
}
.spinner {
	width: 50px;
	height: 50px;
	border: 5px solid #f3f3f3;
	border-top: 5px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.error {
	position: fixed;
	z-index: 5;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: #ffe6e6;
	p{
		color: #A70F0F;
		font-size: 25px;
		font-weight: 600;
		display: block;
		margin-bottom: 90px;
		margin-top: 20px;
	}
	a{
		position: relative;
		margin: 0 auto;
		display: inline-block;
		height: 50px;
		background-color: #FFA63F;
		text-align: center;
		padding: 15px 40px;
		padding-right: 65px;
		font-size: 20px;
		font-weight: 600;
		border-radius: 40px;
		color: #fff;
		&:before{
			content: '';
			position: absolute;
			z-index: 2;
			background: url('../img/Frame 3.svg') no-repeat;
			background-size: auto 20px;
			width: 23px;
			height: 100%;
			right: 23px;
			top: 15px;
		}

	}
}

.success {
	color: #2ecc71;
	padding: 10px;
	background: #e6ffe6;
	border-radius: 4px;
	margin: 10px 0;
}


//</==============================================================================
.pie {
    --p: 56;
    --b: 20px;
    --w: 150px;
    --c: #5AE56B;    
    --f: #d21f1f;
    color: #fff;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;
	margin-bottom: 19px;
}
.pie_result {
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}
.pie:before {
    inset: 0;
    background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p) * 1%), var(--f) 0);
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}
.pie:after {
    inset: calc(50% - var(--b) / 2);
    background: var(--c);
    transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}
.no-round:before {
    background-size:0 0,auto;
}
.no-round:after {
    content:none;
}
/* Анимация */
@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
.pieanimate {
    animation: p 1s .5s both;
}
@keyframes p {
    from{--p:0}
}
//</Body modifications>===========================================================
body{
	font-family: $fontfamily;
	&.lock{
		overflow: hidden;
		width: 100%;
		position: fixed;
	}
	background-color: #0D0D2B;
}
//</Body modifications>===========================================================


.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	&.loaded{}
}

.container{max-width: $mw+px;margin: 0 auto;width: 100%;padding: 0 20px;
	@media (max-width: $md1+px){max-width: 970px;}
	@media (max-width: $md2+px){max-width: 750px;}
	@media (max-width: $md3+px){max-width: none;padding: 0 15px;}
}

//</Header styles>===========================================================
header{
	position: relative;
}
.header {
	&__container {
		@include flexbox();
		justify-content: space-between;
		align-items: center;
		margin-top: 40px;
		margin-bottom: 40px;
		@media(max-width:630px){
			flex-direction: column;
		}
	}
	&__square{
		position: relative;
		padding: 25px 20px;
		height: 250px;
		background-color: #171746;
		border-radius: 13px;
		margin-right: 30px;
		@media(max-width:630px){
			margin-bottom: 30px;
			margin-right: 0;
		}
	}
	&__circle {}
	&__summary {
		cursor: pointer;
		background-color: #1D1D6C;
		padding: 20px 30px;
		border-radius: 53px;
		width: 60%;
		min-height: 160px;
		font-weight: 600;
		font-size: 20px;
		color: #fff;
		@media(max-width:630px){
			width: 90%;
		}
	}
}
.summary {
	&:before{
		position: absolute;
		bottom: 0;
		right: 50px;
		content: '...';
		font-size: 16px;
		color: #fff;
		&:hover{
			cursor: pointer;
		}

	}
		&__title{
			font-size: 18px;
			margin-bottom: 10px;
		}
		&__context{
			font-size: 14px;
			font-weight: 400;
		}
	}


//</Timeplate>===========================================================
/*.menu-header {
	&__icon{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s, 0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
	&.active{
		span{@include scale(0);
			&:first-child{@include rotate(-45deg);top: 8px;}
			&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
}*/
//</Timeplate>===========================================================
//</Header styles>===========================================================


//</Main block styles>========================================================
.main {
	&__container {
		@include flexbox();
		justify-content: space-between;
		@media(max-width:$md1+px){
			display: block;	
		}
	}
	&__colums {
	}
}
.colums {
	&__facts {
		max-width: 700px;
		padding: 50px 30px;
		padding-bottom: 40px;
		@include flexbox();
		justify-content: space-between;
		background-color: #1A1A4E;
		border-radius: 53px;
		&>div{
			&:before{
			content: '';
			position: absolute;
			background: url('../img/Group 8.svg') no-repeat;
			background-size: 20px 30px;
			width: 20px;
			height: 25px;
			top: -35px;
			left: 49%;
			}
		}
		&>div:last-child {
			&:before{
				background: url('../img/Group\ 9.svg') no-repeat;
				background-size: 14px 24px;
				width: 14px;
				height: 24px;
			}
		}
		@media(max-width:$md1+px){
			max-width: 1000px;
			margin-bottom: 25px;	
			padding: 40px 20px;
		}
		@media(max-width:$md3+px){
			&>div:first-child{
				margin-bottom: 50px;
			}
			flex-wrap: wrap;	
		}
		@media(max-width:630px){
			padding: 35px 10px;
			padding-bottom: 15px;
			&>div:first-child{
				margin-bottom: 40px;
			}
		}
	}
}
.facts {
	&__item {
		width: 300px;
		position: relative;
		flex: 1 1 50%;
		margin: 10px;
		@media(max-width:$md3+px){
			flex: 0 1 100%;
			width: 200px;	
		}
	}
	&__title {
		min-width: 300px;
		text-align: center;
		color: #fff;
		font-weight: 600;
		font-size: 24px;
		margin-bottom: 15px;
		@media(max-width:$md3+px){
			min-width: 10px;	
		}
	}
	&__content {
		overflow: auto;
		padding-right: 20px;
		margin-right: -20px;
		max-width: 100%;
		box-sizing: border-box;
		background-color: #2D2D86;
		color: #fff;
		font-size: 18px;
		a{
			display: inline-block;
			color: #fff;
			margin-bottom: 5px;
		}
	}
}
.content__container{
	box-sizing: border-box;
  	width: 100%;
	padding: 15px 20px;
	min-height: 300px;
	background-color: #2D2D86;
	border-radius: 35px;
	// @media(max-width:$md3+px){
	// 	min-width: 10px;	
	// }

}
.column {
	&__tops {}
}
.tops {
	&__content {
		background-color: #121240;
		padding: 30px 30px;
		min-height: 300px;
		border-radius: 49px;
		margin-bottom: 70px;
		@media(max-width:$md1+px){
			margin-bottom: 25px;	
		}
	}
	&__title {
		font-size: 24px;
		color: #fff;
		font-weight: 600;
		margin-bottom: 15px;
	}
	&__list {
		font-size: 18px;
		color: #fff;
	}
	&__return {
		margin-bottom: 50px;
		overflow: hidden;
		position: relative;
		display: block;
		height: 50px;
		width: 200px;
		background-color: #FFA63F;
		text-align: center;
		padding: 15px 40px;
		padding-right: 65px;
		font-size: 20px;
		font-weight: 600;
		border-radius: 40px;
		color: #fff;
		&:before{
			content: '';
			position: absolute;
			z-index: 2;
			background: url('../img/Frame 3.svg') no-repeat;
			background-size: auto 20px;
			width: 23px;
			height: 100%;
			right: 23px;
			top: 15px;
		}
	}
}

//</Main block styles>========================================================


//</Footer styles>============================================================

//</Footer styles>============================================================