@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.pts {
  font-family: "";
}

.btn {
  position: relative;
  overflow: hidden;
}
.btn span {
  position: relative;
  z-index: 2;
}
.btn:after {
  content: "";
  background-color: #B0742D;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn:hover:after {
  width: 100%;
  left: 0;
}

.loading-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}
.loading-overlay span {
  font-size: 15px;
  margin-top: 15px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.error {
  position: fixed;
  z-index: 5;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #ffe6e6;
}
.error p {
  color: #A70F0F;
  font-size: 25px;
  font-weight: 600;
  display: block;
  margin-bottom: 90px;
  margin-top: 20px;
}
.error a {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  height: 50px;
  background-color: #FFA63F;
  text-align: center;
  padding: 15px 40px;
  padding-right: 65px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 40px;
  color: #fff;
}
.error a:before {
  content: "";
  position: absolute;
  z-index: 2;
  background: url("../img/Frame 3.svg") no-repeat;
  background-size: auto 20px;
  width: 23px;
  height: 100%;
  right: 23px;
  top: 15px;
}

.success {
  color: #2ecc71;
  padding: 10px;
  background: #e6ffe6;
  border-radius: 4px;
  margin: 10px 0;
}

.pie {
  --p: 80;
  --b: 20px;
  --w: 150px;
  --c: #5AE56B;
  --f: #d21f1f;
  color: #fff;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 28px;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 19px;
}

.pie_result {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, rgba(0, 0, 0, 0)) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p) * 1%), var(--f) 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
          mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  -webkit-transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
          transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}

.no-round:before {
  background-size: 0 0, auto;
}

.no-round:after {
  content: none;
}

/* Анимация */
@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
.pieanimate {
  -webkit-animation: p 1s 0.5s both;
          animation: p 1s 0.5s both;
}

@-webkit-keyframes p {
  from {
    --p:0;
  }
}

@keyframes p {
  from {
    --p:0;
  }
}
body {
  font-family: "Montserrat";
  background-color: #0D0D2B;
}
body.lock {
  overflow: hidden;
  width: 100%;
  position: fixed;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
@media (max-width: 1190px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }
}

header {
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 630px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__square {
  position: relative;
  padding: 25px 20px;
  height: 250px;
  background-color: #171746;
  border-radius: 13px;
  margin-right: 30px;
}
@media (max-width: 630px) {
  .header__square {
    margin-bottom: 30px;
    margin-right: 0;
  }
}
.header__summary {
  background-color: #1D1D6C;
  padding: 20px 30px;
  border-radius: 53px;
  width: 60%;
  min-height: 160px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
@media (max-width: 630px) {
  .header__summary {
    width: 90%;
  }
}

.summary__title {
  font-size: 18px;
  margin-bottom: 10px;
}
.summary__context {
  font-size: 14px;
  font-weight: 400;
}

/*.menu-header {
	&__icon{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s, 0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
	&.active{
		span{@include scale(0);
			&:first-child{@include rotate(-45deg);top: 8px;}
			&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
}*/
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1190px) {
  .main__container {
    display: block;
  }
}
.colums__facts {
  max-width: 700px;
  padding: 50px 30px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1A1A4E;
  border-radius: 53px;
}
.colums__facts > div:before {
  content: "";
  position: absolute;
  background: url("../img/Group 8.svg") no-repeat;
  background-size: 20px 30px;
  width: 20px;
  height: 25px;
  top: -35px;
  left: 49%;
}
.colums__facts > div:last-child:before {
  background: url("../img/Group 9.svg") no-repeat;
  background-size: 14px 24px;
  width: 14px;
  height: 24px;
}
@media (max-width: 1190px) {
  .colums__facts {
    max-width: 1000px;
    margin-bottom: 25px;
    padding: 40px 20px;
  }
}
@media (max-width: 767.98px) {
  .colums__facts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .colums__facts > div:first-child {
    margin-bottom: 50px;
  }
}
@media (max-width: 630px) {
  .colums__facts {
    padding: 35px 10px;
    padding-bottom: 15px;
  }
  .colums__facts > div:first-child {
    margin-bottom: 40px;
  }
}

.facts__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 10px;
}
@media (max-width: 767.98px) {
  .facts__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 100%;
  }
}
.facts__title {
  min-width: 300px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 15px;
}
@media (max-width: 767.98px) {
  .facts__title {
    min-width: 10px;
  }
}
.facts__content {
  min-height: 300px;
  background-color: #2D2D86;
  color: #fff;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 35px;
}

.tops__content {
  background-color: #121240;
  padding: 30px 30px;
  min-height: 300px;
  border-radius: 49px;
  margin-bottom: 70px;
}
@media (max-width: 1190px) {
  .tops__content {
    margin-bottom: 25px;
  }
}
.tops__title {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
}
.tops__list {
  font-size: 18px;
  color: #fff;
}
.tops__return {
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  display: block;
  height: 50px;
  width: 200px;
  background-color: #FFA63F;
  text-align: center;
  padding: 15px 40px;
  padding-right: 65px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 40px;
  color: #fff;
}
.tops__return:before {
  content: "";
  position: absolute;
  z-index: 2;
  background: url("../img/Frame 3.svg") no-repeat;
  background-size: auto 20px;
  width: 23px;
  height: 100%;
  right: 23px;
  top: 15px;
}